@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #ff9900;
  --color-secondary: #004e66;
  --color-bg: #ffffff;
  --color-bg-secondary: #f8f9fa;
  --color-text: #1a1a1a;
  --color-text-muted: #6b7280;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-bg text-text transition-colors duration-300;
  }

  html.dark body {
    @apply bg-[#0F172A] text-gray-100;
  }
}

@utility prose-custom {
  --tw-prose-body: var(--color-text);
  --tw-prose-headings: var(--color-secondary);
  --tw-prose-links: var(--color-primary);
  --tw-prose-bold: var(--color-secondary);
  --tw-prose-counters: var(--color-text-muted);
  --tw-prose-bullets: var(--color-primary);
  --tw-prose-hr: var(--color-bg-secondary);
  --tw-prose-quotes: var(--color-secondary);
  --tw-prose-quote-borders: var(--color-primary);
  --tw-prose-code: var(--color-primary);
  --tw-prose-pre-bg: #1e1e1e;
  max-width: none;
}

@layer dark {
  .prose-custom {
    --tw-prose-body: theme("colors.gray.300");
    --tw-prose-headings: theme("colors.secondary");
    --tw-prose-links: theme("color.primary");
    --tw-prose-bold: theme("colors.secondary");
    --tw-prose-counters: theme("colors.gray.400");
    --tw-prose-quotes: theme("colors.gray.200");
  }
}
